@using PricePlanCalculator.Helpers
@using PricePlanCalculator.Models.Plans
@model PricePlanCalculator.ViewModels.PriceCalculationViewModel
@{
    ViewBag.Title = "Price Plan Calculator";
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/index.js")" type="text/javascript"></script>
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Calculate the cost of a call</h1>
                <p>Voice plan 1:  @StandardPlans.VoicePlan1</p>
                <p>Voice plan 2:  @StandardPlans.VoicePlan2</p>
                <p>Data plan 1:  @StandardPlans.DataPlan1</p>
                <p>Data plan 2:  @StandardPlans.DataPlan2</p>
                <p>Text plan 1:  @StandardPlans.TextPlan1</p>
                <p>Text plan 2:  @StandardPlans.TextPlan2</p>
            </hgroup>
            <p>
                @using (Html.BeginForm("CalculateCall", "Home"))
                {
                   <span>Plan:</span>
                    @Html.EnumDropDownListFor(x => x.Plan)
					<span>Units (Seconds/Kbytes/Messages):</span>
                    @Html.EditorFor(x => x.Units)
                    <input type="submit" value="Calculate" />
                }
			</p>
        </div>
    </section>
}
<h3>
    Result:</h3>
<div id="result">
</div>